@import "base/mixin";

$main: #15234e;

// Body
$body-bg: #e8ecf1;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.8;

// Colors
$blue: #0630ae;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #777;
$white: #f5f5f5;

// layout
$main-width: 600px;
$gray-cc: #ccc;